@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.primary-button{
  background-color: #E95A08; 
  color:#FFFFFF;
  border: none;
  height:3.125rem ;
  width:100%;
  font-weight: 600; 
}

.banner{
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  margin-top: 120px;
  align-items: center;
  align-items: end;
}
.banner h1{
  font-size: 65px;
  font-weight: bold;
}
.banner p{
  font-size: 22px;
}
.items img{
  width: 100%;
  margin-top:49px ;
}
.item-info p{
  margin-top: 16px;
  font-size: 22px;
  max-width: 888px;
  margin: 0 auto;
}
.item-info h1{
  font-size: 50px;
}
.items{
  display: grid;
  max-width: 71.25rem;
  margin: 0 auto;
  grid-template-columns: repeat(4,auto);
  gap:20px;
}


@media screen and (max-width:768px) {
    .items{
      grid-template-columns: repeat(3,auto);
      /* margin-right: 0px; */
      margin-left: 11px;
      margin-top: 28px;
  }
  
}
@media screen and (max-width:576px) {
  .navbar{
   padding:0 16px 0 15px;
  }
  .navbar .logo{
    height: 38px;
    width: 63px;
  }
  .banner{
    flex-direction: column-reverse;
    align-items: start;
    margin-top: 24px;
  }
  .banner h1{
    font-size:24px ;
    margin-left: 16px;
    margin-top: 28px;
  } 
  .banner p{
    font-size: 14px;
    margin-left: 16px;
    width:360px ;
  }
  .items{
    grid-template-columns: repeat(2,auto);
    margin-right: 0px;
    margin-left: 11px;
    margin-top: 28px;
  }
  .item-content{
    width:171px ;
    height: 340px;
    
  }
  .item-info h1{
    font-size: 24px;
  }
  .item-info p{
    margin-top: 16px;
    font-size: 14px;
    max-width: 336px;
    margin: 0 auto;
  }
  .lover-info li{
    margin: 1rem;
  }
}